		
		<div class="row" ng-if="currentUser.id_company == '4'">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">¿Sabes todo lo que puedes hacer con Wizad?</h2>
				</div>
				<div class="col-sm-12">
					<h2 class="text-center">Déjenos hacerte fácil el trabajo, Tenemos un plan para Tí</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 intro-pic wow slideInLeft animated" style="visibility: visible; animation-name: slideInLeft;">
                        <img src="../images/freelancerss.png" alt="image" class="img-responsive">
						<div style="width:280px; padding: 15px; box-shadow: 10px 10px 10px #888888;  height: 340px;">
							<h4>Permite a los más profesionales independientes diseñar materiales de calidad para su uso
							electrónico o impreso.</h4>
							<p>- Sencilla interfaz de diseño</p>
							<p>- Templates prediseñados</p>
							<p>- Descarga de materiales en diferentes formatos</p>
							<p>- No es necesario tener conocimientos de diseño</p>
							<div class="text-center" style="padding-top:9px;">
								<a href="#/subscription" class="btn btn-embossed btn-primary">¡Empieza HOY!</a>
							</div>
						</div>						
                </div>
				<div class="col-md-4 intro-pic wow slideInLeft animated" style="visibility: visible; animation-name: slideInLeft;">
                        <img src="../images/entrepreneurr.png" alt="image" class="img-responsive">
						<div style="width:280px; padding: 15px; box-shadow: 10px 10px 10px #888888;  height: 340px;">
							<h4>Estandariza la imagen y ejecución de las Estrategias Comerciales en los  múltiples Puntos de Venta o a la Fuerza de Ventas.</h4>
							<p>- Protección de la Identidad Corporativa</p>
							<p>- Personalización de las campañas segun las necesidades del Punto de Venta o del Asesor Comercial</p>
							<p>- Administración de campañas multicanal</p>
							<div class="text-center">
								<a href="#/subscription" class="btn btn-embossed btn-primary">¡Empieza HOY!</a>
							</div>
						</div>
                </div>
				<div class="col-md-4 intro-pic wow slideInLeft animated" style="visibility: visible; animation-name: slideInLeft;">
                        <img src="../images/teamm.png" alt="image" class="img-responsive">
						<div style="width:280px; padding: 15px; box-shadow: 10px 10px 10px #888888;  height: 340px;">
							<h4>Brinda a pequeñas empresas sin un departamento de Marketing en forma, la posibilidad de diseñar
							e imprimir materiales de excelente calidad gráfica.</h4>
							<p>- Templates prediseñados</p>
							<p>- Gestión multi-campaña</p>
							<p>- Descarga ilimitada de materiales</p>
							<p>- Diseño rápido y sencillo</p>
							<div class="text-center" style="padding-top:36px;">
								<a href="#/subscription" class="btn btn-embossed btn-primary">¡Empieza HOY!</a>
							</div>
						</div>
                </div>
			</div>
			<div class="row" style="background-color:#CEECF5; margin-top:15px;">
				<div class="col-sm-12">
					<h2 class="text-center">¿Cómo funciona?</h2>
				</div>
				<div class="row text-center">
					<div class="col-sm-4 feat-list">
						<div>
							<img style="display: block;    margin: auto;" src="../images/computer.png" alt="image" class="img-responsive">
						</div>
						<div class="inner">
							<h4 class="text-center">CREAR CAMPAÑAS FACILMENTE</h4>
							<p>Empieza tu campaña eligiendo de una lista de más de 50 templates presideñados offline y online.
							</p>
						</div>
					</div>
					<div class="col-sm-4 feat-list">
						<img style="display: block;    margin: auto;" src="../images/people.png" alt="image" class="img-responsive">
						<div class="inner">
							<h4 class="text-center">ADMINISTRADOR</h4>
							<p>Construye una red de trabajo con diferentes perfiles y comparte con ellos tus Campañas y Promociones.</p>
						</div>
					</div>
					<div class="col-sm-4 feat-list">
						<img style="display: block;    margin: auto;" src="../images/tablet.png" alt="image" class="img-responsive">
						<div class="inner">
							<h4 class="text-center">INTERFAZ DE DISEÑO</h4>
							<p>Permite a tu equipo adaptar los materiales en formatos según sus necesidades, offline u online.</p>
						</div>
					</div>
				</div>
				<div class="row text-center" style="margin-top:15px;">
					<div class="col-sm-2 feat-list">
					</div>
					<div class="col-sm-4 feat-list">
						<img style="display: block;    margin: auto;" src="../images/permisos.png" alt="image" class="img-responsive">
						<div class="inner">
							<h4 class="text-center">FLUJO DE PERMISOS</h4>
							<p>Decide que puede o no realizar tu equipo de trabajo y controla así la identidad de imagen Corporativa</p>
						</div>
					</div>	
					<div class="col-sm-4 feat-list">
						<img style="display: block;    margin: auto;" src="../images/message.png" alt="image" class="img-responsive">
						<div class="inner">
							<h4 class="text-center">COMUNICACIÓN EFECTIVA</h4>
							<p>Mejora la comunicación de tu equipo geográficamente disperso y envía notificaciones.</p>
						</div>
					</div>
					<div class="col-sm-2 feat-list">
					</div>
				</div>
			</div>
			<!-- <div class="row" style="margin-top:15px;">
				<div class="col-sm-4 hidden-xs">
				</div>
				<div class="col-xs-12 col-sm-4 text-center">
					<a href="/subscription" class="btn btn-embossed btn-primary">¡Empieza HOY!</a>
				</div>
				<div class="col-sm-4 hidden-xs">
				</div>
			</div> -->
		</div>



		<div class="row" ng-if="currentUser.typenum == '3'">
			<div class="col-xlg-12 col-lg-12" >
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body p-10">
								<div class="text-center col-xs-12 col-md-4">
									<label for="file-input">
										<img ng-src="{{currentUser.logo}}" class="img-responsive" alt="Logo" id="imgLogo" style="    width: auto;    height: 200px;">
									</label>
								</div>
								<div class="clearfix col-xs-12 col-md-6">
									<h2 class="c-dark w-600">{{currentUser.UserName}}</h2>
									<h3 class="c-dark w-600">{{currentUser.name}}</h3>
									<p class="c-gray f-16">{{currentUser.company_name}} - {{currentUser.type}}</p>
								</div>
								<div class="clearfix col-xs-12 col-md-2 text-center	">
									<img ng-src="{{subsimage}}" style="width:100px; height:100px;"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div class="row" ng-if="currentUser.typenum != '3'">
			<div class="col-xlg-12 col-lg-12" >
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body p-10" ng-if="currentUser.typenum == '1'">
								<div class="text-center col-xs-12 col-md-4">
									<img src="Wizad-(Blue).png" class="img-responsive" alt="avatar 4" STYLE="WIDTH: 300PX;HEIGHT: 150PX;">
								</div>
								<div class="clearfix col-xs-12 col-md-6">
									<h2 class="c-dark w-600">Bienvenida Sonia,</h2>
									<p class="c-gray f-16">Wizad - Administradora General</p>
								</div>
								
							</div>
							<div class="panel-body p-10" ng-if="currentUser.typenum == '2'">
								<div class="text-center col-xs-12 col-md-4">
									<label for="file-input">
										<img ng-src="{{currentUser.logo}}" class="img-responsive" alt="Logo" id="imgLogo" style="    width: auto;    height: 200px;">
									</label>

									<input style="display:none;" id="file-input" type="file" fileread="currentUser.logo"/>
									<h3><a ng-click="downloadImg()"><i class="fa fa-download"></i>DESCARGAR</a></h3>
								</div>
								<div class="clearfix col-xs-12 col-md-6">
									<h2 class="c-dark w-600">{{currentUser.UserName}}</h2>
									<h3 class="c-dark w-600">{{currentUser.name}}</h3>
									<p class="c-gray f-16">{{currentUser.company_name}} - {{currentUser.type}}</p>
								</div>
								<div class="clearfix col-xs-12 col-md-2 text-center	">
									<img ng-src="{{subsimage}}" style="width:100px; height:100px;"/>
								</div>
							</div>
							<div class="panel-content p-t-0 p-b-0" style="margin-bottom:15px;" ng-if="currentUser.typenum == '1'">
								<p class="c-gray f-16">Subscripciones</p>
								<div class="row">
									<div class="col-xs-3 p-20" style="
												background-color: #FFD8B1;
												background: #FFD8B1 -webkit-gradient(linear, left top, left bottom, from(#A75B10), to(#FFD8B1)) no-repeat;
												background: #FFD8B1 -moz-linear-gradient(top, #A75B10, #FFD8B1) no-repeat;">
										<div class="text-center m-b-10">
											<i class="f-32 fa icon-user"></i>
										</div>
										<div class="text-center f-16">
											{{bronzeCount}}
										</div>
									</div>
									<div class="col-xs-3 p-20" style="background-color: #FFFFFF;
												background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#E2E3E5), to(#FFFFFF)) no-repeat;
												background: #FFFFFF -moz-linear-gradient(top, #E2E3E5, #FFFFFF) no-repeat;">
										<div class="text-center m-b-10">
											<i class="f-32 fa icon-briefcase"></i>
										</div>
										<div class="text-center f-16">
											{{silverCount}}
										</div>
									</div>
									<div class="col-xs-3 p-20" style="
													background-color: #D46037;
													background: #D46037 -webkit-gradient(linear, left top, left bottom, from(#D4C937), to(#FFEEB5)) no-repeat;
													background: #D46037 -moz-linear-gradient(top, #D4C937, #FFEEB5) no-repeat;">
										<div class="text-center m-b-10">
											<i class="f-32 fa icon-graph"></i>
										</div>
										<div class="text-center f-16">
											{{goldCount}}
										</div>
									</div>								
									<div class="col-xs-3 p-20" style="
													background-color: #B4A0BF;
													background: #B4A0BF -webkit-gradient(linear, left top, left bottom, from(#E2E5E4), to(#B4A0BF)) no-repeat;
													background: #B4A0BF -moz-linear-gradient(top, #E2E5E4, #B4A0BF) no-repeat;">
										<div class="text-center m-b-10">
											<i class="f-32 fa icon-globe-alt"></i>
										</div>
										<div class="text-center f-16">
											{{platCount}}
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default" ng-if="currentUser.typenum == '1'">
								<!-- <div class="panel-body p-10">
									<div class="clearfix col-xs-8">
										<h2 class="c-dark w-600">Winston Bowman</h2>
										<p class="c-gray f-16">Photographer</p>
										<p class="c-gray"><i class="fa fa-map-marker p-r-10"></i> Trade Business Park, Ohio</p>
									</div>
								</div> -->
								
								<div class="panel-content p-t-0 p-b-0">
								<p class="c-gray f-16">Indicadores</p>
									<div class="row">
										<div class="col-xs-3 bg-blue p-20">
											<div class="text-center m-b-10">
												<i class="f-24 icon-users"></i>
											</div>
											<div class="text-center f-16">
												Usuarios: {{userCount}}
											</div>
										</div>
										<div class="col-xs-3 bg-purple p-20">
											<div class="text-center m-b-10">
												<i class="f-24 fa fa-briefcase"></i>
											</div>
											<div class="text-center f-16">
												Campañas: {{campaignCount}}
											</div>
										</div>
										<div class="col-xs-3 bg-primary p-20">
											<div class="text-center m-b-10">
												<i class="f-24 fa icon-heart"></i>
											</div>
											<div class="text-center f-16">
												Visitas: {{visitCount}}
											</div>
										</div>
										<div class="col-xs-3 bg-orange p-20">
										<div class="text-center m-b-10">
											<i class="f-24 fa fa-tags"></i>
										</div>
										<div class="text-center f-16">
											Gratis: {{FreeUsers}}
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-sm-12" ng-class="alertExpiredClass" ng-show="alertExpiredShow">
				<h4 class="alert-title">¡Alerta!</h4>
				<p>{{messageExpired}}</p>
			</div>
		</div>
		
		<div class="row" ng-if="(currentUser.typenum == '2' || currentUser.typenum == '3' )&& !alertExpiredShow && currentUser.id_company != '4'">
			<div class="col-lg-12 portlets">
				<div class="panel">
					<div class="panel-header panel-controls">
						<h3><i class="fa fa-table"></i> <strong>MIS </strong> CONTACTOS</h3>
						<div class="col-sm-12" ng-class="alertColorClass" ng-show="alertColorShow">
							<h4 class="alert-title">¡Alerta!</h4>
							<p>{{messageColor}}</p>
						</div>
						<!--<div class="col-sm-12" style="text-align:right;">
							<button ng-if="currentUser.typenum != '3'" ng-click="saveUserChanges()" class="btn btn-embossed btn-primary m-r-20"><i class="fa fa-check"></i> Guardar campañas libres</button>
						</div>-->
					</div>
					
					<div class="panel-content table-responsive">
						<div class="row text-left">
							<div class="col-sm-6">
								<h4 style="font-size:14px;"><b>BUSCAR:</b></h4><input ng-model="searchValue" ng-change="searchValueChange(searchValue)" type="text" class="form-control" id="field-1" >
							</div>
						</div>
						<table class="table table-hover dataTable">
							<thead>
								<tr>
									<th></th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'date_up'; sortReverse = !sortReverse">
											Fecha alta
											<span ng-show="sortType == 'date_up' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'date_up' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'name'; sortReverse = !sortReverse">
										Usuario
										<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'name' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<!-- <th ng-if="currentUser.typenum != '3'">
										<a style="cursor:pointer;" ng-click="sortType = 'free_campaign'; sortReverse = !sortReverse">
										Campaña Libre
										<span ng-show="sortType == 'free_campaign' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'free_campaign' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th> -->
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'mobile_phone'; sortReverse = !sortReverse">
										Móvil
										<span ng-show="sortType == 'mobile_phone' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'mobile_phone' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in userListing | orderBy:sortType:sortReverse | filter:searchValue">
									<td>
									<span ng-if="user.type === '2'" class="label label-primary">Administrador</span>
									<span ng-if="user.type === '3'" class="label label-success ">Diseñador</span>
									</td>
									<td>{{ user.date_up }}</td>
									<td>{{ user.name }}</td>
									<!-- <td ng-if="currentUser.typenum != '3'">
										<input ng-disabled="user.type === '2'" ng-model="user.free_campaign" ng-true-value="1" ng-false-value="0" ng-change="changeUser(user)" type="checkbox">
									</td> -->
									<td>{{ user.mobile_phone }} </td>
									<td><a class="btn button-button_8 btn-success btn-md " href="tel:+{{ user.mobile_phone }}"  >Llamar</a></td>
								</tr>  
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div class="row" ng-if="(currentUser.typenum == '2' || currentUser.typenum == '3' )&& !alertExpiredShow && currentUser.id_company != '4'">
			<div class="row" >
				<div class="col-lg-12 portlets">
					<div class="panel">
						<div class="panel-content">
							<div class="row">
								<div class="col-sm-12" >
									<div ng-class="alertCreateClass" ng-show="alertCreateShow" style="height: 75px;">
										<div class="col-sm-2 text-center" style="">
											<i ng-click="closeAlert()" class="fa fa-check-circle-o fa-4x" style="margin-top: -4px; cursor:pointer;"></i>
										</div>
										<div class="col-sm-10">
											<h4 class="alert-title">¡Alerta!</h4>
											<p>{{CreateText}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-content pagination2 table-responsive">
								
								<div class="row text-left">
									<div class="col-sm-6">
										<h4 style="font-size:14px;"><b>BUSCAR:</b></h4><input ng-model="searchValue" ng-change="searchValueChange(searchValue)" type="text" class="form-control" id="field-1" >
									</div>
								</div>
							<table class="table table-hover dataTable" id="table-editable" data-table-name="Total users">
									<col width="20%">
									<col width="20%">
									<col width="10%">
									<col width="30%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
								<thead>
									<tr>
										<th width="10px">
											<a style="cursor:pointer;" ng-click="sortType = 'campaign_name'; sortReverse = !sortReverse">
												Título
												<span ng-show="sortType == 'campaign_name' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'campaign_name' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th width="10px">
											<a style="cursor:pointer;" ng-click="sortType = 'date_up'; sortReverse = !sortReverse">
												Alta
												<span ng-show="sortType == 'date_up' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'date_up' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th width="10px">Descripción</th>
										<th width="10px">
											<a style="cursor:pointer;" ng-click="sortType = 'segment_description'; sortReverse = !sortReverse">
												Segmento
												<span ng-show="sortType == 'segment_description' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'segment_description' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th width="10px">
											<a style="cursor:pointer;" ng-click="sortType = 'rangee'; sortReverse = !sortReverse">
												Edad
												<span ng-show="sortType == 'rangee' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'rangee' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th width="10px">
											<a style="cursor:pointer;" ng-click="sortType = 'name'; sortReverse = !sortReverse">
												Ciudad
												<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'name' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="campaign in filteredCampaigns | orderBy:sortType:sortReverse | filter:searchValue" >
										<td>{{campaign.campaign_name}}</td>
										<td>{{campaign.date_up | date}}</td>
										<td class="text-center"><a ng-click="showDescription(campaign)" data-toggle="modal" data-target="#modal-description" class="btn btn-default btn-raised rippler rippler-default fa fa-search" style="height: 36px;line-height: 20px;font-size: 20px;"></a></td>
										<td>{{campaign.segment_description}}</td>
										<td>{{campaign.rangee}}</td>
										<td>{{campaign.name}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		
		<div class="row" ng-if="currentUser.typenum == '1'">
			<div class="col-lg-12 portlets">
				<div class="panel">
					<div class="panel-header panel-controls">
						<h3><i class="fa fa-table"></i> <strong>TODOS LOS </strong> USUARIOS</h3>
						<div class="row" style="text-align: right;"> 
							<button ng-click="exportToExcel('#tableToExport')" class="btn btn-embossed btn-success m-r-20">
								<i class="fa fa-download"></i> 
								Descargar 
							</button>
						</div>
					</div>
					
					<div class="panel-content table-responsive">
						<div class="row text-left" >
							<div class="col-sm-6">
								<h4 style="font-size:14px;"><b>BUSCAR:</b></h4><input ng-model="filterUsers" ng-change="filterUsersChange(filterUsers)" type="text" class="form-control" id="field-1" >
							</div>
						</div>
						<div id="tableToExport">
							<table class="table table-hover dataTable" >
								<thead>
									<tr>
										<th></th>
										<th>
											<a style="cursor:pointer;" ng-click="sortType = 'date_up'; sortReverse = !sortReverse">
											Alta
											<span ng-show="sortType == 'date_up' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'date_up' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th>
											<a style="cursor:pointer;" ng-click="sortType = 'name'; sortReverse = !sortReverse">
											Usuario
											<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'name' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th>
											<a style="cursor:pointer;" ng-click="sortType = 'statusdesc'; sortReverse = !sortReverse">
											Estatus
											<span ng-show="sortType == 'statusdesc' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'statusdesc' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th>
											<a style="cursor:pointer;" ng-click="sortType = 'empresa'; sortReverse = !sortReverse">
											Compañía
											<span ng-show="sortType == 'empresa' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'empresa' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
										<th>
											<a style="cursor:pointer;" ng-click="sortType = 'description'; sortReverse = !sortReverse">
											Subscripción
											<span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
												<span ng-show="sortType == 'description' && sortReverse"  class="fa fa-caret-up"></span>
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in allUsers | orderBy:sortType:sortReverse | filter:filterUsers">
										<td><i class="icon-user"></i></td>
										<td>{{ user.date_up }}</td>
										<td>{{ user.name }}</td>
										<td>{{ user.statusdesc }}</td>
										<td>{{ user.empresa }}</td>
										<td>{{ user.description }}</td>
									</tr>  
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" ng-if="currentUser.typenum == '1'">
			<div class="col-lg-12 portlets">
				<div class="panel">
					<div class="panel-header panel-controls">
						<h3><i class="fa fa-table"></i> <strong>TODAS LAS </strong> EMPRESAS</h3>
					</div>
					
					<div class="row">
						<div class="col-sm-12" >
							<div ng-class="alertUserClass" ng-show="alertUserShow" style="height: 75px;">
								<div class="col-sm-2 text-center" style="">
									<i ng-click="closeAlert()" class="fa fa-check-circle-o fa-4x" style="margin-top: -4px; cursor:pointer;"></i>
								</div>
								<div class="col-sm-10">
									<h4 class="alert-title">¡Alerta!</h4>
									<p>{{messageUser}}</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel-content table-responsive">
						<div class="row text-left" >
							<div class="col-sm-6">
								<h4 style="font-size:14px;"><b>BUSCAR:</b></h4><input ng-model="filterCompanies" ng-change="filterCompaniesChange(filterUsers)" type="text" class="form-control" id="field-1" >
							</div>
						</div>
						<table class="table table-hover dataTable">
							<thead>
								<tr>
									<th></th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'date_up'; sortReverse = !sortReverse">
										Alta
										<span ng-show="sortType == 'date_up' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'date_up' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'name'; sortReverse = !sortReverse">
										Compañía
										<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'name' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'no_employees'; sortReverse = !sortReverse">
										Usuarios
										<span ng-show="sortType == 'no_employees' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'no_employees' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'storage'; sortReverse = !sortReverse">
										Espacio
										<span ng-show="sortType == 'storage' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'storage' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'description'; sortReverse = !sortReverse">
										Subscripción
										<span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'description' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;" ng-click="sortType = 'description'; sortReverse = !sortReverse">
										Status
										<span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'description' && sortReverse"  class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a style="cursor:pointer;">
										Detalle
										</a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="company in allCompanies | orderBy:sortType:sortReverse | filter:filterCompanies">
									<td>
										<div class="onoffswitch2">
											<input type="checkbox" ng-change="newCompanyStatus(company.id_company, company.status)"  ng-model="company.status" ng-true-value="1" ng-false-value="0"
												name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{company.id_company}}" checked>
											<label class="onoffswitch-label" for="myonoffswitch{{company.id_company}}">
												<span class="onoffswitch-inner"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</div>
									</td>
									<td>{{ company.date_up }}</td>
									<td>{{ company.name }}</td>
									<td>{{ company.no_employees }}</td>
									<td>{{ company.storage }}</td>
									<td>{{ company.description }}</td>
									<td>
										<span ng-if="company.days_left > 0 && company.days_left < 30" class="label label-warning">{{ company.contract_status }}</span>
										<span ng-if="company.days_left >= 30" class="label label-success">{{ company.contract_status }}</span>
										<span ng-if="company.days_left < 0" class="label label-danger">{{ company.contract_status }}</span>
									</td>
									<td class="text-center"><a ng-click="showDescription(company)" data-toggle="modal" data-target="#modal-description" class="btn btn-default btn-raised rippler rippler-default fa fa-search" style="height: 36px;line-height: 20px;font-size: 20px;"></a></td>
								</tr>  
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div class="row" ng-if="currentUser.typenum == '2'">
			<div class="col-xlg-12 col-lg-12">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-header">
								<h3><i class="icon-globe-alt"></i> <strong>CONFIGURACIÓN</strong> TEXTOS</h3>
							</div>
							<div class="panel-content widget-full">
								<div class="row">
									<form class="form-horizontal ng-pristine ng-valid">
										<div class="col-md-12">
											<h4 class="col-sm-12 control-label">
												<button ng-click="newText()" type="button" class="btn btn-sm btn-primary pull-right">
													<i class="fa fa-plus-square"></i>
												</button>
											</h4>
											<div class="form-group" ng-repeat="text in textConfig">
												<h4 class="col-sm-3 control-label"></h4>
												<div class="col-sm-9">
													<input class="form-control" ng-model="text.text_config" type="text">
												</div>
											</div>
											<div ng-class="alertTextClass" ng-show="alertTextShow">
												<h4 class="alert-title">¡Alerta!</h4>
												<p>{{messageText}}</p>
											</div>
											<button ng-click="saveTextConfigs()" type="button" class="pull-right btn btn-primary btn-square">Guardar cambios</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="currentUser.typenum == '2'">
			<div class="col-lg-12 portlets">
				<div class="panel">
					<div class="panel-header panel-controls">
						<h3><i class="icon-cloud-upload"></i> CONFIGURACIÓN <strong>IMÁGENES</strong></h3>
					</div>
					<div class="panel-content">
						<div class="row">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<form id="dropzoneFrm" action="#" class="dropzone">
									<div class="fallback">
										<input name="file" type="file" multiple />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="currentUser.typenum == '2'">
			<div class="col-lg-12 portlets">
				<div class="panel">
					<div class="panel-header panel-controls">
						<h3><i class="icon-cloud-upload"></i> CONFIGURACIÓN <strong>PALETTE</strong></h3>
					</div>
					<div class="panel-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="input-group">
										<ul class="icheck-colors">
											<li ng-repeat="pal in paletteConfig" ng-style="{'background-color':pal.color}">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">Agrega tus colores
							</div>
							<div class="col-sm-9">
								<input colorpicker colorpicker-position="right" type="text" ng-model="your_model" />
								<button ng-click="newPalette(your_model)" type="button" class="btn btn-sm btn-primary">
									<i class="fa fa-plus-square"></i>
								</button>
							</div>
							<div ng-class="alertColorClass" ng-show="alertColorShow">
								<h4 class="alert-title">¡Alerta!</h4>
								<p>{{messageColor}}</p>
							</div>
							<button ng-click="savePalette()" type="button" class="pull-right btn btn-primary btn-square">Guardar cambios</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="currentUser.typenum == '2'">
			<div class="col-lg-12 portlets">
				<div class="panel">
					<div class="panel-header panel-controls">
						<h3><i class="icon-cloud-upload"></i> CONFIGURACIÓN <strong>FUENTES</strong></h3>
					</div>
					<div class="panel-content">
						<div class="row">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="modal fade" id="modal-description" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
						<h4 class="modal-title">DETALLE<strong></strong></h4>
					</div>
					<div class="modal-body">
						<label>Industria: </label> {{industry}}<br/>
						<label>Dirección: </label> {{address}}<br/>
						<label>Cd, Edo, País: </label> {{city}}, {{state}}, {{country}}<br/>
						<label>Página Web: </label> {{web_page}}<br/>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="copyright">
				<p class="pull-left sm-pull-reset">
					<span>Copyright <span class="copyright">&copy;</span> 2016 </span>
					<span>WIZAD</span>.
					<span>DERECHOS RESERVADOS. </span>
				</p>
				<p class="pull-right sm-pull-reset">
					<span><a href="#" class="m-r-10">SOPORTE</a> | <a href="#" class="m-l-10 m-r-10">TERMINOS DE USO</a> | <a href="#" class="m-l-10">POLITICA</a></span>
				</p>
			</div>
		</div>