html, body{
	height: auto;
	min-height: 100%;
}

body{
	background-color: #EEEEEE;
}

#session{
	margin-top: 50px;
	max-width: 320px;
}

#session img{
	width: 100%;
}

.tools{
	padding: 0 15px;
	min-height: 68px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #EDEDED;
}

.tools a{
	line-height: 67px;
}

.tools .pre{
	padding-right: 8px;
}

.tools .dropper .dropdown{
	min-width: 200px;
}

.tools .notifications .dropdown{
	min-width: 300px;
	max-height: 500px;
	overflow: auto;
}

.tools .notifications .dropdown li{
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.tools .notifications .ic{
	padding-right: 5px;
}

.tools .date{
	margin-top: 5px;
	font-size: 13px;
	color: #777777;
}

.tabs{
	margin-top: 10px;
}

.tabs .act .pseudo{
	background-color: #FFFFFF;
}

#menu{
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #2C2E2F;
	color: #979898;
	z-index: 1000;
	overflow: auto;
}

#menu h4{
	margin-top: 15px;
	padding-bottom: 11px;
	border-bottom: 1px solid #313437;
	color: #FCFCFC;
}

#menu h4 .name{
	display: inline;
	margin: 0;
	border: none;
	font-size: 23px;
}

#menu h4 .show{
	display: none;
	float: right;
	margin: 0 15px 0;

}

#menu ul a{
	display: block;
	margin: 0 7%;
	padding: 14px 5px;
	border-bottom: 1px solid #313437;
	font-size: 15px;
	text-align: left;
	transition: color 0.25s;
}

#menu ul a .ct{
	float: right;
	padding-right: 5px;
	line-height: 23px;
}

#menu ul a .ic{
	padding-right: 10px;
	font-size: 13px;
}

#menu ul .act > a, #menu ul a:hover{
	color: #FCFCFC;
}

#menu ul .sub-menu ul{
	display: none;
}

#menu ul .act > ul{
	display: block;
}

#menu ul .sub-menu ul a{
	font-size: 13px;
	transition: padding-left 0.35s;
}

#menu ul .act ul a{
	padding-left: 25px;
}

#menu ul .act .act ul a{
	padding-left: 45px;
}

#menu .form-control{
	padding: 14px 7%;
}

#content{
	margin-left: 20%;
}

#content .section{
	margin-top: 0;
	padding: 20px;
	background-color: #F8F8F8;
	border-bottom: 1px solid #DADADA;
	font-size: 20px;
	text-align: left;
}

#content .section:after{
	content: "";
	display: table;
	clear: both;
}

#content .breadcrumbs{
	font-size: 15px;
	color: #428BCA;
}

#content .panel .title{
	font-size: 19px;
}

#content .panel.transp .title{
	background-color: #EEEEEE;
}

#content .panel .header a{
	margin-right: 10px;
}

#content table{
	font-size: 13px;
}

#content table .image img{
	height: 75px;
}

#content table a.btn{
	padding: 5px 10px;
	font-size: 13px;
}

#content .buscador{
	margin-bottom: 15px;
	border-bottom: 1px solid #EEEEEE;
}

#content .buscador .input{
	margin: 0 auto 15px auto;
}

#content .buscador .first{
	padding-right: 5px;
}

#content .buscador .last{
	padding-left: 5px;
}

#content .search{
	text-align: right;
}

#content .search button{
	font-size: 13px;
}

#content .input .dos{
	text-align: right;
}

#content .input .dos label{	
	font-size: 14px;
}

#content .input input[type=submit]{
	margin-right: 10px;
}

form .loader{
	float:right;
	display: inline-block;
	padding: 15px;
	background: url( '../iconos/loader.gif' ) no-repeat center center;
}
/** posts **/
.post{
	position: relative;
	margin-bottom: 15px;
	padding: 25px;
	background-color: #FFFFFF;
	text-align: left;
}

.post .header{
	margin: 25px 0;
}

.post .header-button{
	margin: 15px 0;
	border: none;
}

.post .title{
	margin: 5px 0;
}

.post .title .label{
	display: inline-block;
	margin-left: 7px;
	vertical-align: middle;
}

.post .data{
	color: #959595;
}

.post .data a{
	color: #35AECC;
}

.post .data a:hover{
	text-decoration: underline;
}

.post .deleted{
	position: absolute;
	top: 35px;
	right: 25px;
}

.post .deleted .btn{
	padding: 4px 7px;
}

.post .deleted .fa{
	font-size: 12px;
}

.post > p{
	margin: 25px 0 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EBEBEB;
}

/** post (publish) **/
.post form select{
	padding: 7px;
}

.post form button > .fa{
	padding-right: 5px;
}

.post form .message .uploader .fa{
	line-height: 80px;
}

.post form button{
	position: relative;
}

#uploader{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

#adjuntos li{
	padding: 4px 8px;
	margin-top: 10px;
	background-color: #EBEBEB;
	font-size: 13px;
}

/** adjuntos **/
.post .galery{
	margin-bottom: 5px;
}

.post .galery img, .post .galery .btn{
	float: left;
	display: inline-block;
	margin-right: 10px;
	height: 75px;
}

.post .galery .btn{
	padding: 0 15px;
	line-height: 75px;
}

/** comments **/
.post .comments{
	margin: 15px 3%;
}

.post .comments li{
	margin-top: 7px;
	padding: 10px;
	background-color: #F6F7F8;
	border-bottom: 1px solid #EBEBEB;
	color: #222222;
}

.post .comments li .date{
	color: #959595;
}

.post .comments li a{
	margin-right: 10px;
}

.post .comments .galery{
	padding: 5px 0 5px 5px;
	margin-top: 5px;
	border-top: 1px solid #EBEBEB;
}

.post .comments .galery .btn{
	text-decoration: none;
	color: #FFFFFF;
}

/**
* Estilos para mapas de Google
*/
#mapGoogle{
	margin-top: 15px;
	height: 350px;
	min-width: 250px;
	width: 100%;
}

#mapSearchBox{
	margin-top: 16px;
	height: 32px;
	width: 50%;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	text-overflow: ellipsis;
	font-size: 15px;
	outline: none;
}

/**
* Estilos para el selectize
*/
.labeled-selectize .btn.info{
	padding: 8px 14px;
	text-align: center;
}

.labeled-selectize .selectize-input{
	border-radius: 0 3px 3px 0;
}

/**
* Estilos para delete button en uploader
*/
.uploader .deleted .btn{
	padding: 4px 7px;
	margin: 2px 2px 2px -2px;
	height: 99px;
}

.uploader .deleted .fa{
	font-size: 12px;
}

@media only screen and (max-width: 961px){
	#menu{
		position: relative;
		height: auto;
	}

	#menu h4{
		margin-bottom: 0;
		padding-left: 15px;
		text-align: left;
	}

	#menu h4 .show{
		display: inline-block;
	}

	#list{
		display: none;
		padding: 10px 0 25px;
	}

	#content{
		margin-left: 0;
	}

	#content .input .dos{
		text-align: left;
	}

	#content .input .dos label{
		padding-top: 0;
	}

	#content .buscador .first, #content .buscador .last{
		padding: 0;
	}
}