/**
* "Import" de las fuentes a utilizar
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Paytone+One);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

/**
* Diseño de los canvas
*/
#canvasHolder{
	position: relative;
	margin: 95px auto 45px;
	width: 700px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	z-index: 0;
}