.inndate-container{
	display: none;
	position: absolute;
	padding: 9px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 0 6px 12px #DDDDDD;
	font-size: 13px;
}

.inndate-monthYear{
	margin: 6px 0 12px;
	font-size: 15px;
}

.inndate-monthYear:after{
	content: "";
	display: block;
	clear: both;
}

.inndate-month, .inndate-year{
	float: left;
	padding: 5px;
	width: 48%;
}

.inndate-year{
	float: right;
}

.inndate-calendar{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.inndate-calendar th{
	padding: 6px;
	color: #979898;
}

.inndate-calendar td{
	padding: 8px;	
	border-top: 1px solid #DDDDDD;
}

.inndate-calendar .selectable{
	padding: 3px 6px 3px 0;
	background-color: #F9F9F9;
	text-align: right;
	cursor: pointer;
}

.inndate-calendar .selectable:hover{
	background-color: #428BCA;
	color: #FFFFFF;
}

.inndate-calendar .act{
	background-color: #5CB85C;
	color: #FFFFFF;
}

.inndate-timer{
	margin-top: 15px;
}

.inndate-timeTitles span{
	font-weight: bold;
}

.inndate-timer input[type=text], .inndate-timeTitles span{
	display: inline-block;
	margin: 0 3px;
	padding: 5px;
	width: 50px;
	text-align: center;
}