@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/**
* RESETS
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header, article, nav, footer{
	display: block;
}

ul, ol{
 	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	height: 100%;
}

body{
	position: relative;
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #333333;
	text-align: center;
}
/**
* REGULAR
*/
.screen, .displayable{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.block{
	margin: 0 auto;
	width: 90%;
	color: inherit;
	text-align: inherit;
}

p{
	margin: 0 auto 15px auto;
}

.block:after, .clearfix:after, .row:after, .nav:after, .breadcrumbs:after,
.input:after, .pagination:after, .uploader:after, .labeled:after{
	content: "";
	display: table;
	clear: both;
}

.text-center{
	text-align: center !important;
}

.text-left{
	text-align: left !important;
}

.text-right{
	text-align: right !important;
}

.xxxl-text{
	font-size: 45px !important;
}

.xxl-text{
	font-size: 35px !important
}

.xl-text{
	font-size: 28px !important;
}

.l-text{
	font-size: 22px !important;
}

.s-text{
	font-size: 12px !important;
}

.xs-text{
	font-size: 10px !important;
}

.sub-text{
	color: #777777;
}

.right{
	float: right;
}

.f-left{
	float: left;
}

.v-parent{
	display: table;
}

.v-content{
	display: table-cell; 
	vertical-align: middle; 
}

.bullet-list{
	list-style: disc;
	margin-left: 20px;
}

.responsive-wrapper{
	max-width: 100%;
	overflow-y: auto;
}

/**
* TEXT COLOR
*/
.text-blue{
	color: #428BCA;
}

.text-cyan{
	color: #5BC0DE;
}

.text-green{
	color: #5CB85C;
}

.text-yellow{
	color: #F0AD4E;
}

.text-red{
	color: #D9534F;
}

.text-white{
	color: #FFFFFF;
}

/**
* H'S
*/
h1, h2, h3, h4, h5, h6{
	margin: 20px 0 10px;
	color: inherit;
	font-family: inherit;
}

h1{
	font-size: 75px;
}

h2{
	font-size: 57px;
}

h3{
	font-size: 46px;
}

h4{
	font-size: 34px;
}

h5{
	font-size: 25px;
}

h6{
	font-size: 20px;
}

/**
* ELEMENTS
*/
.header{
	border-bottom: 1px solid #EEEEEE;
}

hr{
	display: block;
	margin: 20px 0;
	border: none;
	border-top: 1px solid #E5E5E5;
}

/**
* GRID
*/
.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez, .once,
.uno-10, .dos-10, .tres-10, .cuatro-10, .cinco-10, .seis-10, .siete-10, .ocho-10, .nueve-10{
	float: left;
	width: 100%;
}

.invert > .uno, .invert > .dos, .invert > .tres, .invert > .cuatro, .invert > .cinco, .invert > .seis,
.invert > .siete, .invert > .ocho, .invert > .nueve, .invert > .diez, .invert > .once,
.invert > .uno-10, .invert > .dos-10, .invert > .tres-10, .invert > .cuatro-10, .invert > .cinco-10,
.invert > .seis-10, .invert > .siete-10, .invert > .ocho-10, .invert > .nueve-10{
	float: right !important;
}

/**
* NAVIGATION
*/
.nav{
	position: relative;
	min-height: 50px;
	background-color: #F8F8F8;
	text-align: left;
}

.nav.fixed{
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.nav .block{
	width: 100%;
}

.dark{
	background-color: #222222;
}

.nav .main, .nav .name, .nav ul, .nav li{
	float: left;
}

.nav .main a{
	font-size: 16px;
	font-weight: bold;
}

.nav .main .image{
	padding: 7.5px 15px;
}

.nav .main .image img{
	display: block;
	height: 35px;
}

.nav .display, .nav ul.right{
	float: right;
}

.nav .display{
	display: none;
	padding: 0 15px;
	line-height: 50px;
}

.nav a, .nav .pseudo{
	display: block;
	padding: 0 15px;
	line-height: 50px;
	color: #777777;
	cursor: pointer;
}

.nav a:hover, .nav .act > a, .nav .pseudo:hover, .nav .act > .pseudo{
	color: #000000;
}

.dark a:hover, .dark .act > a, .dark .pseudo:hover, .dark .act > .pseudo{
	color: #FFFFFF;
}

.nav .act > a, .nav .act > .pseudo{
	background-color: #E7E7E7;
}

.dark .act > a, .dark .act > .pseudo{
	background-color: #080808;
}

.nav .dropper{
	position: relative;
}

.nav .dropper .fa-caret-down, .nav .dropper .fa-caret-right{
	padding-left: 5px;
}

.nav .dropdown{
	display: none;
	position: absolute;
	left: 0;
	min-width: 190px;
	background-color: #FFFFFF;
	border: 1px solid #BDBDBE;
	box-shadow: 0 4px 8px #BDBDBE;
	z-index: 1000;
}

.nav .right .dropdown{
	left: auto;
	right: 0;
}

.nav .dropdown li{
	margin: 5px 0;
	height: auto;
	width: 100%;
}

.nav .dropdown a, .nav .dropdown .pseudo{
	padding: 5px 15px;
	line-height: normal;
}

.nav .dropdown hr{
	margin: 0;
}

.nav form{
	height: 50px;
	padding: 8px 15px;
}

.nav.responsive{
	padding: 0;
}

.nav.responsive .block{
	background-color: inherit;
}

.nav.responsive .display{
	display: block;
}

.nav.responsive .lists{
	display: none;
	position: absolute;
	float: left;
	top: 100%;
	background-color: inherit;
}

.nav.responsive .displayed{
	display: block;
}

.nav.responsive .main, .nav.responsive .lists, .nav.responsive ul, .nav.responsive li{
	width: 100%;
}

.nav.responsive .dropdown{
	position: relative;
	padding: 0;
	background-color: inherit;
	border: none;
	box-shadow: none;	
}

.dark.responsive .dropdown li a:hover{
	color: #FFFFFF;
}

/**
* TABS
*/
.tabs .pseudo{
	margin-left: 5px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #EDEDED;
	border-bottom: none;
}

.tab-panel .tab{
	display: none;
}

.tab-panel .tab.act{
	display: block;
}

/**
* BREADCRUMBS
*/
.breadcrumbs li{
	float: left;
	padding: 5px;
}

.breadcrumbs li + li:before{
	content: "\f101";
	padding-right: 8px;
	font-family: 'FontAwesome';
	color: #CCCCCC;
}

.breadcrumbs li span{
	color: #777777;
}

/**
* FORMS
*/
.input{
	margin-top: 15px;
}

.input .dos, .input .tres, .input .cuatro, .input .cinco, .input .sies,
.input .siete, .input .ocho, .input .nueve,.input .diez, .input .once{
	padding: 10px;
}

form{
	text-align: left;
}

label{
	display: inline-block;
	font-family: inherit;
	font-weight: bold;
}

input[type=text], input[type=password], textarea, select{
	display: block;
	padding: 8px 12px;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px #EFEFEF;
	background-color: #FFFFFF;
	font-family: inherit;
	color: #333333;
	outline: none;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus{
	border: 1px solid #5CB8E6;
	box-shadow: 0 0 3px #5CB8E6;
}

input[type=text]:disabled, input[type=password]:disabled, textarea:disabled, select:disabled{
	background-color: #EEEEEE;
	cursor: not-allowed;
}

select{
	padding: 7px 12px;
	-webkit-appearance: none;
	background: #FFFFFF url("../iconos/arrow-down.png") no-repeat right;
}

select option{
	color: #333333;
}

.select-default{
	color: #B2B2B2;
}

textarea{
	resize: vertical;
}

.labeled .info, .lbl-left, .lbl-right{
	width: 45px;
	text-align: center;
}

.l-left .info, .lbl-left{
	float: left;
	border-radius: 4px 0 0 4px !important;
}

.l-right .info, .lbl-right{
	float: right;
	border-radius: 0 4px 4px 0 !important;
}

.labeled > div{
	width: auto;
}

.l-left > div{	
	margin-left: 45px;
}

.l-right > div{	
	margin-right: 45px;
}

.l-both > div{
	margin: 0 45px;
}

.l-left input[type=text], .l-left input[type=password], .l-left select{
	border-radius: 0 4px 4px 0;
}

.l-right input[type=text], .l-right input[type=password], .l-right select{
	border-radius: 4px 0 0 4px;
}

.l-both input[type=text], .l-both input[type=password], .l-both select{
	float: left;
	border-radius: 0 !important;
}

.checkbox, .radio{
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.checkbox input[type=checkbox], .radio input[type=radio]{
	display: none;
}

.checkbox span:before, .radio span:before{
	display: inline-block;
	margin-right: 5px;
	width: 1em;
	font-family: "FontAwesome";
	color: #666666;
}

.checkbox span:before{
	content: "\f096";
}

.radio span:before{
	content: "\f10c";
}

.checkbox span, .radio span{
	font-weight: normal;
}

.checkbox span.strong, .radio span.strong{
	font-weight: bold;
}

.checkbox input[type=checkbox]:checked + span:before{
	content: "\f14a";
	color: #06A3E9;
}

.radio input[type=radio]:checked + span:before{
	content: "\f058";
	color: #06A3E9;
}

/**
* FILE UPLOADER
*/
.uploader{
	min-height: 104px;
	border-radius: 4px;
	border: 1px solid #EDEDED;
}

.uploader .btn{
	float: left;
	margin: 1px 2px;
	height: 100px;
	position: relative;
	line-height: 80px;
	overflow: hidden;
}

.uploader .preview{
	float: left;
	margin: 1px 2px;
	height: 100px;
	min-width: 100px;
	border-radius: 4px;
	border: 1px solid #EDEDED;
	text-align: center;
	line-height: 98px;
	font-size: 25px;
}

.uploader img.preview{
	min-width: 0;
}

.uploader .btn input[type=file]{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

/**
* TABLES
*/
table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

table thead th{
	padding: 8px;
	border-bottom: 2px solid #DDDDDD;
}

table tbody td{
	padding: 8px;
	border-top: 1px solid #DDDDDD;
}

table.borded thead th{
	border: 1px solid #DDDDDD;
}

table.borded tbody td{
	border: 1px solid #DDDDDD;
}

table.striped tbody tr:nth-child(odd) td{
	background-color: #F9F9F9;
}

table.info-table tbody tr:last-child td{
	border-bottom: none;
}

/**
* PAGINATION
*/
.pagination{
	margin: 10px 0;
}

.pagination li{
	float: left;
	border: 1px solid #DDDDDD;
	border-left-style: none;
}

.pagination li:first-child{
	border-left-style: solid;
}

.pagination li:first-child, .pagination li:first-child span, .pagination li:first-child a{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.pagination li:last-child, .pagination li:last-child span, .pagination li:last-child a{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.pagination li a, .pagination li span{
	display: block;
	padding: 3px 10px;
	min-width: 13px;
	color: #337AB7;
}

.pagination .act span, .pagination .act a{
	background-color: #337AB7;
	color: #FFFFFF;
	cursor: default;
}

.pagination .dis{
	cursor: not-allowed;
}

/**
* BUTTONS
*/
.btn, button, input[type=submit]{
	display: inline-block;
	padding: 7px 14px;
	font-family: inherit;
	font-size: 15px;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
}

.btn.blue, button.blue, input[type=submit].blue{
	background-color: #428BCA;
	border-color: #357EBD;
}

.btn.blue:hover, button.blue:hover, input[type=submit].blue:hover{
	background-color: #3B7DB6;
}

.btn.cyan, button.cyan, input[type=submit].cyan{
	background-color: #5BC0DE;
	border-color: #46B8DA;
}

.btn.cyan:hover, button.cyan:hover, input[type=submit].cyan:hover{
	background-color: #52ADC8;
}

.btn.green, button.green, input[type=submit].green{
	background-color: #5CB85C;
	border-color: #4CAE4C;
}

.btn.green:hover, button.green:hover, input[type=submit].green:hover{
	background-color: #53A653;
}

.btn.yellow, button.yellow, input[type=submit].yellow{
	background-color: #F0AD4E;
	border-color: #EEA236;
}

.btn.yellow:hover, button.yellow:hover, input[type=submit].yellow:hover{
	background-color: #D89C46;
}

.btn.red, button.red, input[type=submit].red{
	background-color: #D9534F;
	border-color: #C34B47;
}

.btn.red:hover, button.red:hover, input[type=submit].red:hover{
	background-color: #D43F3A;
}

.btn.white, button.white, input[type=submit].white{
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	color: #333333;
}

.btn.white:hover, button.white:hover, input[type=submit].white:hover{
	background-color: #E7E7E7;
}

.btn.gray, button.gray, input[type=submit].gray{
	background-color: #F8F8F8;
	border-color: #CCCCCC;
	color: #636363;
}

.btn.gray:hover, button.gray:hover, input[type=submit].gray:hover{
	background-color: #DFDFDF;
}

.btn.full, button.full, input[type=submit].full{
	display: block;
	width: 100%;
}

/**
* BUTTON GROUP
*/
.btn-group{
	display: inline-block;
	vertical-align: middle;
}

.btn-group .btn{
	display: block;
	float: left;
	border-radius: 0;
}

.btn-group .btn:first-child{
	border-radius: 4px 0 0 4px;
}

.btn-group .btn:last-child{
	border-radius: 0 4px 4px 0;
}

/**
* LABELS
*/
.label{
	display: inline;
	padding: 4px 9px 6px;
	font-size: 90%;
	white-space: nowrap;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 1;
}

.label.blue{
	background-color: #428BCA;
}

.label.cyan{
	background-color: #5BC0DE;
}

.label.green{
	background-color: #5CB85C;
}

.label.yellow{
	background-color: #F0AD4E;
}

.label.red{
	background-color: #D9534F;
}

.label.white{
	background-color: #FFFFFF;
	color: #333333;
}

.label.gray{
	background-color: #F8F8F8;
	color: #636363;
}

/**
* ALERTS
*/
.alert{
	margin: 10px auto;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert.blue{
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #31708F;
}

.alert.green{
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}

.alert.yellow{
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	color: #8A6D3B;
}

.alert.red{
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}

/**
* MODALS
*/
.displayable{
	display: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.displayable .message{
	margin: 55px auto;
	width: 80%;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 0 3px #222222;
	text-align: left;
}

.displayable .message > div{
	background-color: inherit;
	padding: 20px;
}

.displayable .message .title{
	background-color: inherit;
	border-bottom: 1px solid #E5E5E5;
	font-weight: bold;
}

.displayable .message .footer{
	background-color: inherit;
	border-top: 1px solid #E5E5E5;
}

.displayable .image{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 80%;
	max-width: 80%;
	border: 3px solid #FFFFFF;
}

/**
* PANELS
*/
.panel{
	margin: 20px;
	background-color: #FFFFFF;
}

.panel .title{
	padding: 20px;
	color: #FFFFFF;
	text-align: left;
}

.panel .content{
	padding: 20px;
}

.panel.blue .title{
	background-color: #428BCA;
}

.panel.green .title{
	background-color: #5CB85C;
}

.panel.yellow .title{
	background-color: #F0AD4E;
}

.panel.red .title{
	background-color: #D9534F;
}

.panel.gray .title{
	background-color: #E1E1E1;
	color: #333333;
}

.panel .header{
	margin: 20px 20px 0 20px;
	padding: 15px 0;
	text-align: left;
}

/**
* CHAT
*/
.chat-left{
	text-align: left;
}

.chat-right{
	text-align: right;
}

.chat-comment{
	display: inline-block;
	margin: 10px 0;
	padding: 15px;
	width: 85%;
	border-radius: 3px;
	background-color: #F2F2F2;
}

.chat-comment.chat-full{
	width: 100%;
}

.chat-info{
	color: #428BCA;
}

.chat-attached{
	margin: 5px 0;
	height: 75px;
}

.chat-attached img, .chat-attached .btn{
	float: left;
	margin-right: 5px;
	height: 100%;
	line-height: 55px;
}

.chat-right .chat-comment{	
	background-color: #CCE5FF;
}

.chat-right .chat-attached img, .chat-right .chat-attached .btn{
	float: right;
}

/**
* BADGES
*/
.badge{
	display: inline-block;
	margin-left: 7px;
	padding: 5px 8px;
	background-color: #777777;
	border-radius: 10px;
	line-height: 1;
	color: #FFFFFF;
}

.badge.red{
	background-color: #D9534F;
}

/**
* CARDS
*/
.card{
	margin-bottom: 15px;
	padding: 3px;
}

.card img{
	height: 240px;
	width: 100%;
	max-width: 400px;
}

.card .caption{
	padding: 10px;
	text-align: left;
}

/**
* MEDIA QUERIES
*/
@media only screen and (min-width: 320px){
	.block{
		width: 300px;
	}

	h1, h2, h3{
		font-size: 34px;
	}

	h4{
		font-size: 25px;
	}
}

@media only screen and (min-width: 401px){
	.block{
		width: 370px;
	}

	h1, h2, h3{
		font-size: 34px;
	}

	h4{
		font-size: 25px;
	}
}

@media only screen and (min-width: 481px){
	.block{
		width: 450px;
	}

	.block > *, .block > .clearfix > div{
		padding: 0 4px;
	}

	.block > .clearfix{
		padding: 0;
	}

	h1, h2{
		font-size: 57px;
	}

	h3{
		font-size: 34px;
	}

	h4{
		font-size: 25px;
	}
}

@media only screen and (min-width: 641px){
	.block{
		width: 610px;
	}

	.block > *, .block > .clearfix > div{
		padding: 0 8px;
	}

	.block > .clearfix{
		padding: 0;
	}

	h1{
		font-size: 57px;
	}

	h2, h3{
		font-size: 34px;
	}

	h4{
		font-size: 25px;
	}
}

@media only screen and (min-width: 961px){
	.block{
		width: 930px;
	}

	.block > *, .block > .clearfix > div{
		padding: 0 8px;
	}

	.block > .clearfix{
		padding: 0;
	}
}

@media only screen and (min-width: 1025px){
	.block, .nav .block{
		width: 990px;
	}
}

@media  only screen and (min-width: 1281px){
	.block, .nav .block{
		width: 1250px;
	}
}

/**
* GRID AND MODAL
*/
@media only screen and (min-width: 961px){
	.uno{
		width: 8.333%;
	}

	.dos{
		width: 16.666%;
	}

	.tres{
		width: 25%;
	}

	.cuatro{
		width: 33.333%;
	}

	.cinco{
		width: 41.666%;
	}

	.seis, .cinco-10{
		width: 50%;
	}

	.siete{
		width: 58.333%;
	}

	.ocho{
		width: 66.666%;
	}

	.nueve{
		width: 75%;
	}

	.diez{
		width: 83.333%;
	}

	.once{
		width: 91.666%;
	}

	.uno-10{
		width: 10%;
	}

	.dos-10{
		width: 20%;
	}

	.tres-10{
		width: 30%;
	}

	.cuatro-10{
		width: 40%;
	}

	.seis-10{
		width: 60%;
	}

	.siete-10{
		width: 70%;
	}

	.ocho-10{
		width: 80%;
	}

	.nueve-10{
		width: 90%;
	}

	.displayable .message{
		width: 600px;
	}

	h1{
		font-size: 75px;
	}

	h2{
		font-size: 57px;
	}

	h3{
		font-size: 46px;
	}

	h4{
		font-size: 34px;
	}
}

/**
* NAV REPONSIVO
*/
@media only screen and (min-width: 641px){
	.nav.responsive .block{
		background-color: transparent;
	}

	.nav.responsive ul{
		width: auto;
	}

	.nav.responsive .display{
		display: none;
	}

	.nav.responsive .main, .nav.responsive .lists, .nav.responsive li{
		width: auto;
	}

	.nav.responsive .lists{
		display: block;
		position: relative;
		float: none;
		top: 0;
	}

	.nav.responsive .lists .right{
		float: right;
	}

	.nav.responsive .dropdown{
		position: absolute;
		min-width: 190px;
		background-color: #FFFFFF;
		border: 1px solid #BDBDBE;
		box-shadow: 0 6px 12px #222222;
	}

	.nav.responsive .dropdown li{
		width: 100%;
	}

	.dark.responsive .dropdown li a:hover, .dark.responsive .dropdown li .pseudo:hover{
		color: #333333;
	}

	.nav.responsive .dropdown .dropdown{
		top: 0;
		left: 100%;
	}

	.nav .act .dropdown .act > a, .nav.responsive .act .dropdown .act > .pseudo,
	.dark .act .dropdown .act > a, .dark.responsive .act .dropdown .act > .pseudo{
		color: #333333;
	}

	.nav.responsive .act .dropdown .act > a, .nav.responsive .act .dropdown .act > .pseudo,
	.dark.responsive .act .dropdown .act > a, .dark.responsive .act .dropdown .act > .pseudo{
		background-color: #FFFFFF;
	}
}